.main-header {
    background-color: #222d32;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 2px solid #00c0ef;
}

.logo {
    display: flex;
    align-items: center;
    background-color: #367fa9;
    color: #fff;
    height: 50px;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.logo-mini {
    display: none; /* mostra só se quiser responsividade */
}

.logo-lg {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.logo-lg i {
    margin-right: 5px;
}

.navbar {
    height: 50px;
    display: flex;
    align-items: center;
}

.navbar-static-top {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.sidebar-toggle {
    color: #fff;
    padding: 15px;
    display: block;
    cursor: pointer;
}

.sidebar-toggle:hover {
    background-color: #1e282c;
}
